body, * {
  -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}


.App {
    background-color: #dcd8d8;
}

.filter__container {
    background-color: #fff;
}

.filter-params {
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    background-color: rgb(139 195 74 / 0.5);
}

.filter-params.active {
    background-color: rgb(139 195 74 / 1);
    cursor: default;
}


.launch__list__card {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
}

@media screen and (max-width: 575.98px) {
    .launch__list__container {
        padding-left: 0;
        padding-right: 0;
        margin-top: 1rem;
    }
}